.noScroll {
    overflow: hidden;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(1, 1, 1, 0.9);
}

.modalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    padding: 0;
    border: none;
}

.imgModal {
    width: 100%;
    height: auto;
    object-fit: cover;
}