.noScroll {
    overflow: hidden;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(1, 1, 1, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease-in-out;
}

.modalContent {
    position: relative;
    max-width: 80%;
    max-height: 90%;
    padding: 0;
    border: none;
    background-color: transparent;
    transition: transform 0.3s ease-in-out;
    transform: scale(0.95);
}

.modalContent:open {
    transform: scale(1);
}

.imgModal {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}